.container {
  min-height: 100vh;
  background-color: transparent;
}

.logo {
  padding: 0 24px;
  .link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 64px;
  }
  .image {
    height: 32px;
  }
  .title {
    display: block;
    height: 32px;
    margin: 0 0 0 12px;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    color: #fff;
  }
}

.header {
  padding: 0 24px;
  background-color: #fff;
}

.footer {
  text-align: center;
}
